%li
  = link_to tr("Profile","views/shares/_user_info"), "/users/additional_information"
%li
  = link_to tr("Email subscriptions","views/shares/_user_info"), "/settings/signups"
%li
  = link_to tr("Notifications","views/shares/_user_info"), "/inbox/notifications"
  - if current_user.warnings_count > 0
    #warning
      - if current_user.warnings_count > 1
        = tr("{count} warnings", "view/layouts/basic", :count => current_user.warnings_count)
      - else
        = tr("{count} warning", "view/layouts/basic", :count => current_user.warnings_count)
%li
  = link_to tr("Logout", "view/shared/_user_info"), destroy_user_session_path, method: :delete
- @about_pages.each do |page|
  - unless page.hide_from_menu or (page.hide_from_menu_unless_admin and (!current_user or (current_user and !current_user.is_admin?)))
    %li
      #{link_to page.title.from_localized_yaml, :controller => "pages", :action => "show", :id=>page.id}
